* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Element */
.background-loading {
  width: 100%;
  height: 100%;
  background-color: #333;
  position: fixed;
  z-index: 999;
}

.container-loading {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-loading > .progress {
  width: 180px;
}

.container-loading > .progress > .progress-bar {
  animation: animate-progressbar 2s;
  width: 100%;
}

/* Control */
.show-loading {
  left: 0;
  opacity: 1;
}

.hide-loading {
  animation: animate-slide 1s;
  left: 200%;
  opacity: 0;
}

/* Animation */
@keyframes animate-slide {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.2;
  }
}

@keyframes animate-progressbar {
  0% {
    width: 25%;
  }
  100% {
    width: 100%;
  }
}